body {
  padding-top: 0px;
  position: relative;
  background: url('../images/greyfloral.png');
}

.well, .thecontent {
  margin-top: 20px;
  background: rgba(255,255,255,0.5);
  border: none;
  box-shadow: none;
}

body .dropzone {
  margin-bottom: 1em;
  border-width: 1px;
  border-radius: 5px;
}

.form-group {
  clear: left;
  padding-top: 10px;
}

h1 {
  text-align: center;
  font-weight: normal;
}

section {
  padding: 20px 0px;
}
.modal form {
  margin-bottom: 0px;
}
footer {
    padding-bottom: 20px;
}
p.login-signup {
    margin-top: 20px;
}

.feature-columns {
    .make-row();

    > div {
        i.fa {
            margin-bottom: 0.2em;
        }
        .make-sm-column(4);
        .text-center;
        margin: 2em 0;
    }
}

.page img {
    max-width: 100%;
}

.wiki-edit textarea {
    font-family: @font-family-monospace;
}
