{% load static %}
  <div class="container">
    <div class="well header">
      <h1><a href="/">PAGE TITLE</a></h1>
      <div class="row" style="min-height: 150px;">
        <div class="col-xs-4 text-center col-xs-offset-4">
          <h4>We miss someone</h4>
          <p>add a subtitle</p>
          <img src="{% static 'images/person.png' %}" class="img-responsive"/>
        </div>
      </div>
      <div class="row">
        <p class="text-center">
          <br />
          <a href="{% url 'submit' %}" class="btn btn-primary">Submit Story or Pictures</a>
        </p>
      </div>
    </div>
  </div>

