{% extends "site_base.html" %}

{% load md2 %}

{% block body %}
  <h2>Donations</h2>

<p>If you would like to make a donation in Michael's name, here are two suggested recipients. So far, Michael's friends have donated <a href="https://www.betterplace.org/en/projects/20601-internet-cafes-computer-workshops-for-refugees/opinions#opinion_814007">215 euros to Refugees Emancipation.</a></p>

<div class="row">
  <div class="col-md-6">
<p>The first, <a href="http://www.chicaspoderosas.org/">Chicas Poderosas</a> ("Powerful girls"), is is a community working to bring Latina women in the Americas into the forefront of digital journalism, aiming to increase the number of Latina women working directly with newsroom technology. It's a cause that Michael was very close to; he travelled to Miami and to Bogota, Colombia, as a trainer.</p>
<p><a href="https://donorbox.org/chicas-poderosas-and-michael-bauer-dreams" style="background-color:#f40bc2;color:#fff;text-decoration:none;font-family:Verdana,sans-serif;display:inline-block;font-size:14px;padding:10px 16px;border-radius:3px;">Donate to Chicas Poderosas</a></p>
</div>

  <div class="col-md-6">
<p>The second, <a href="http://support.refugeesemancipation.com/en/">Refugees Emancipation</a>, is an effort run by refugees in Berlin to set up internet cafes for other refugees. For the past 15 years, they have been working on establishing self-organizing internet cafes in residential homes and offer computer courses. It is supported by the <a href="https://ccc.de/">Chaos Computer Club e.V.</a>, <a href="http://berlin.freifunk.net/">Freifunk Berlin</a> and the <a href="http://foerderverein.freie-netzwerke.de/">Förderverein freie Netzwerke e.V.</a>.</p>
<p><a href="https://www.betterplace.org/en/projects/20601-internet-cafes-computer-workshops-for-refugees/" style="background-color:#97ac03;color:#fff;text-decoration:none;font-family:Helvetica Neue,sans-serif;display:inline-block;font-size:14px;padding:10px 16px;border-radius:3px;">Donate to Refugees Emancipation</a></p>
</div>
</div>





{% endblock %}
