{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load i18n %}


{% block styles %}
    {% include "_styles.html" %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block topbar_base %}
  <div class="container">
    <div class="well header">
      <h1><a href="/">remembering mihi</a></h1>
      <div class="row" style="min-height: 150px;">
        <div class="col-xs-4 text-center">
          <h4>Michael Bauer 1980–2015</h4>
          <p>Hier sammeln wir Geschichten über und Erinnerungen an einen lieben Menschen.</p>
          <p><small><a href="{% url 'donation' %}" target="_blank">Spenden</a></small></p>
        </div>
        <div class="col-xs-4">
          <img src="{% static 'images/mihi.gif' %}" class="img-responsive"/>
        </div>
        <div class="col-xs-4 text-center">
          <h4>Michael Bauer 1980–2015</h4>
          <p>This is where we collect stories and memories of a great person.</p>
          <p><small><a href="{% url 'donation' %}" target="_blank">Donate</a></small></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}




