{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}


{% block styles %}
    {% include "_styles.html" %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block topbar_base %}
  <div class="container">
    <div class="well">
      <h1>Mihi stories</h1>
      <div class="row" style="min-height: 150px;">
        <div class="col-sm-5">
          german text
        </div>
        <div class="col-sm-2">
          <img src="{% static 'images/mihi.gif' %}" class="img-responsive"/>
        </div>
        <div class="col-sm-5">
          english text
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}




