{% extends "site_base.html" %}

{% load staticfiles %}
{% load bootstrap %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/dropzone.css' %}" />
{% endblock %}


{% block body %}

{% include "_header.html" %}

<script src="{% static 'js/dropzone.js' %}"></script>
<script>
Dropzone.options.dropzoneFiles = {};
Dropzone.options.dropzoneFiles['maxFilesize'] = 2;
Dropzone.options.dropzoneFiles['acceptedFiles'] = 'image/*';
Dropzone.options.dropzoneFiles['dictDefaultMessage'] = 'Drag & Drop or Click to add Images';
Dropzone.options.dropzoneFiles['dictRemoveFile'] = 'X';
Dropzone.options.dropzoneFiles['addRemoveLinks'] = true;
Dropzone.options.dropzoneFiles['addedfile'] = function(file, div) {
  console.log(this,file);
  this.defaultOptions.addedfile.call(this, file, div);
  if(file.status==Dropzone.SUCCESS) {
    this.defaultOptions.success.call(this, file, div);
  }
};
Dropzone.options.dropzoneFiles['removedfile'] = function(file) {
  $.post(file.removeLink, {});
  file.previewElement.parentNode.removeChild(file.previewElement);
  console.log(file);
  return true;
};
Dropzone.options.dropzoneFiles['success'] = function(file, response) {
  file.removeLink = response.removeLink;
};
Dropzone.options.dropzoneFiles['init'] = function() {
  var file = null;
  {% for file in form.instance.current_files %}
    file = {
      filename: "{{ file.file.name|escapejs }}",
      name: "{{ file.file.name|escapejs }}",
      size: "{{ file.file.size}}",
      type: "image/jpeg",
      removeLink: "{% url 'jfu-delete' pk=file.pk %}",
      status: Dropzone.SUCCESS,
      upload: {progress: 100, bytesSent: {{file.file.size}}, total: {{file.file.size}}},
      accepted: true
    };
    this.options.addedfile.call(this, file);
    this.options.thumbnail.call(this,file, '{{file.file.url}}');
    this.options.complete.call(this,file, file.upload.progress, file.upload.bytesSent);
    this.files.push(file);
  {% endfor %}
}
</script>

<div class="thecontent well">
  <h2>Your Submission</h2>
  {% if form.instance.submitted_at %}
    <div class="alert alert-info">
      You have submitted this! The moderation team will publish it shortly.<br />
      You can still change this until you navigate away from this page.
    </div>
  {% else %}
    <p>Upload files, create Text, feel free to save before submitting.</p>
    <p>Entries are moderated, so it will be a while before they show up on the site</p>
  {% endif %}
  <hr />
  <div class="row">
    <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <label>Pictures</label>
      <form action="{% url 'jfu-upload' pk=form.instance.pk %}" method="POST" class="dropzone" id="dropzone-files">
        {% csrf_token %}
        <div class="fallback">
          <input name="file" type="file" multiple />
        </div>
      </form>
    </div>
  </div>
  <form method="POST">
    <div class="row">
      <div class="col-md-6" class="form-horizontal">
        {{form|bootstrap_horizontal}}
        {% csrf_token %}
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-md-5 col-md-offset-1">
        <label>Links &amp; Videos</label>
        {% for links_formset in inlines %}
          {{links_formset.management_form}}
          {% for inline in links_formset %}
            <div class="form-inline">
              {{inline|bootstrap}}
            </div>
          {% endfor %}
        {% endfor %}
        <p class="small"><br />Vimeo and Youtube links will be embedded, like pictures</p>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <span>
          <input type="submit" class="btn btn-primary" name="save" value="Entwurf speichern"/>
          <input type="submit" class="btn btn-success" name="send" value="Abschicken (final)"/>
        </span>
      </div>
    </div>
  </form>
</div>
{% endblock %}
